---
import type { ModrinthMod } from './modrinth-api.ts'
import '../styles/ModEntry.css'

const { mod } = Astro.props as { mod: ModrinthMod }

function mod_to_string(hit: ModrinthMod) {
    let string = `${hit.title} (${hit.author})`
    if (hit.desc != null) {
        string + `: ${hit.desc}`
    }

    return string
}

let mod_image = (mod.icon) ? mod.icon.toString() : "/favicon.ico"

let mod_link = `https://modrinth.com/${mod.type}/${mod.slug}`

---

<div class="container">
	<a href={mod_link}> <img src={mod_image}> </a>
	<a href={mod_link} target="_blank"> {mod_to_string(mod)} </a>
</div>

<style>
.container {
	display: inline-flex;
	align-items: center;
	gap: 1rem;

    border: 1px solid #bcbcbca0;
	border-radius: 10px;
	padding: 3px;
	padding-right: 1rem;

	background-color: black;

	margin-bottom: 5px;
	margin-right: 10px;
	margin-left: 5px;
	position: relative;
}

a {
	color: green;
}

img {
    display: inline-block;
    float: left;
    width: 50px;
    height: 50px;
    object-fit: cover;
	border: 1px solid #bcbcbc40;
	border-radius: 10px;
}
</style>
