---
import type { ModrinthMod } from './modrinth-api.ts'
import '../styles/ModEntry.css'

const { mod } = Astro.props

export function mod_to_string(hit: ModrinthMod) {
    let string = `${hit.title} (${hit.author})`
    if (hit.desc != null) {
        string + `: ${hit.desc}`
    }

    return string
}

export function mod_image(hit: ModrinthMod): string {
    let string = (hit.icon) ? hit.icon.toString() : "/favicon.ico"
    console.log(string)
    return string
}

---

<div class="container">
    <img src={mod_image(mod)}>
    <p> {mod_to_string(mod)} </p>
</div>

<style>
.container {
	display: inline-flex;
	align-items: center;
	gap: 0px;

    border: 3px solid darkgreen;
	border-radius: 10px;
	padding: 3px;
	background-color: black;

	margin-bottom: 3px;
	margin-right: 10px;
	margin-left: 5px;
	position: relative;
}

p {
	color: green;
}

img {
    display: inline-block;
    float: left;
    margin-right: 10px;
    width: 50px;
    height: 50px;
    object-fit: cover;
	border: 1px solid #bcbcbc40;
	border-radius: 10px;
}
</style>
