---
import type { ModrinthMod } from './modrinth-api.ts'
import '../styles/ModEntry.css'

const { mod } = Astro.props

export function mod_to_string(hit: ModrinthMod) {
    let string = `${hit.title} (${hit.author})`
    if (hit.desc != null) {
        string + `: ${hit.desc}`
    }

    return string
}

export function mod_image(hit: ModrinthMod): string | null | undefined {
    let string = (hit.icon != null) ? hit.icon : ""
    return string.toString()
}

---

<div id="container">
    <p>
        <img src={mod_image(mod)}>
        {mod_to_string(mod)}
    </p>
</div>

<style>
p {
    color: green;
    border: 5px solid black;
}
img {
    display: inline-block;
    float: left;
    padding: 10px;
    width: 100px;
    height: 100px;
    object-fit: cover;
}
</style>
