---
import type { ModrinthMod } from './modrinth-api.ts'
import '../styles/ModEntry.css'

const { mod } = Astro.props

export function mod_to_string(hit: ModrinthMod) {
    let string = `${hit.title} (${hit.author})`
    if (hit.desc != null) {
        string + `: ${hit.desc}`
    }

    return string
}

export function mod_image(hit: ModrinthMod): string {
    let string = (hit.icon) ? hit.icon.toString() : "/favicon.ico"
    console.log(string)
    return string
}

---

<div id="container">
    <img src={mod_image(mod)}>
    <p>
        {mod_to_string(mod)}
    </p>
</div>

<style>
p {
    color: green;
    border: 5px solid black;
}
img {
    display: inline-block;
    float: left;
    padding-right: 10px;
    width: 75px;
    height: px;
    object-fit: cover;
}
</style>
